/* BOTONES HOMEPAGE */

.ahome {
    text-decoration: none;
    color: rgb(22, 65, 3);
    border: solid 1px;
    border-radius: 5px;
    padding: 0.4rem 0.8rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
}

.ahome:hover {
    text-decoration: none;
    color: white;
    background-color: rgb(22, 65, 3);
}

/* HIGHLIGHT */
/* .highlight {
    background-color:lightgoldenrodyellow;
} */

/* SCROLLBAR */
/* width */


::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
/* ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* PROJECTS */
.projimg {
    width: 550px;
    height: 300px;

}

@media (max-width: 760px) {
    .projimg {
        width: 350px;
        height: 200px;
    }

    h1.contem {
        font-size: 1.6rem;
    }
}

/* TEAM SECTION */
.vl.team {
    border-top: 5px solid rgb(22, 65, 3);
    border-left: 0px solid;
    width: 100%;
    display: inline-block;
}

.teamimg {
    height: 200px;
    width: 200px;
}

.teamtitle {
    font-weight: bold;
}

.teamtitle.name {
    color: rgb(22, 65, 3);
}

.teamdes {
    font-size: 1rem;
}

/* Linea vertical */
.vl {
    border-left: 3px solid rgb(22, 65, 3);
    height: 50px;
    display: inline-block;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.titleHR{
    border-top: 5px solid rgb(15, 54, 0);
    border-left: 0px solid;
    width: 20%;
    display: inline-block;
}
.titleHR2{
    border-top: 5px solid rgb(15, 54, 0);
    border-left: 0px solid;
    width: 20%;
    display: inline-block;
}
.titleHR3{
    border-top: 5px solid rgb(15, 54, 0);
    border-left: 0px solid;
    width: 20%;
    display: inline-block;
    margin-left: 200px;
}
/* NAVBAR */
.dropdown-item {
    font-size: small;
}

li a:hover {
    color: rgb(22, 65, 3) !important;
    font-weight: bold;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}  

/* TITULOS */
h6.subtitulo {
    color: grey;
    font-size: 0.7rem;
}

.titulo {
    display: inline-block;
}

.titles{
    color: grey;
    font-family: 'Times New Roman', Times, serif;
}
.subtitles{
    font-weight: bold;
}

.bgris{
    width: 250px;
    height: 250px;
}

p {
    text-align: justify;
}

/* FOOTER */
.img-footer{
    background-color: white;
    padding: 0px;
}

/* .imgf {
    display: inline;
    width: 50rem;
    height: 30rem;
} */

footer a:hover {
    color: rgb(22, 65, 3) !important;
}

footer {
    background-color: black;
    /* background-image: url("../img/3.jpg"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* height: 20rem; */
    /* position: relative; */
}

/* EFECTOS */
    section{
        opacity: 0.5;
        transition: all 1.5s;
    }
    .transformup{
        transform: translateY(20%);
    }
    .transformdown{
        transform: translateY(-20%);
    }
    .transformleft{
        transform: translateX(20%);
    }
    .transformright{
        transform: translateX(-20%);
    }
    .aparece{
        opacity: 1;
        transform: none;
    }

/* VIDEOS FULLSCREEN CHIDO */
/* .video-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
  
.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.videobut {
    z-index: 1;
    position: relative;
    text-align: center;
    color: #dc0000;
    top: 80vh;
} */

/* VIDEO RESPONSIVE */
video {
    width: 100%;
    height: auto;
}

.video-container {
    width: 100%;
    height: auto;
}

.videobut {
    z-index: 1;
    /* position: relative; */
    text-align: center;
    color: #dc0000;
    top: 80vh;
}

.modalvid {
    width: 100%;
    height: auto;
}
.galleryImg{
    width: 350px;
    height: 250px;
}
.learnMore{
    margin-left: 200px;
}
.padImg{
    margin-top: 100px;
    width: 400px; 
    height: 350px;
}
.mission{
    font-weight: 900;
    font-style: italic; 
    font-size: 100px;
}

@media (max-width: 500px){
    .modalvid {
        width: 100%;
        height: auto;
    }
    .mission{
        font-weight: 900; 
        font-style: italic; 
        font-size: 50px;
    }
    .learnMore{
        margin-left: 0px;
    }
    .padImg{
        margin-top: 0px;
        width: 300px; 
        height: 250px;
    }
    .titleHR3{
        border-top: 5px solid rgb(15, 54, 0);
        border-left: 0px solid;
        width: 20%;
        display: inline-block;
        margin-left: 0px;
    }
}